@model AgileWorks.Models.Appeals

@{
    ViewBag.Title = "Error";
}

<h2>Appeal error!</h2>
<br />
<p>Appeal is null! Please make sure, that appeal is not null!</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
